<h2 style="margin: 10px;">Virtual Cohort Generator</h2>
<p style="margin: 10px;">Create "Virtual patients (VPs)" based on input ranges defined by the user and visualize the results.</p>
<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out the number of virtual patients and the input ranges</ng-template>
      <p>
        <mat-form-field appearance="fill">
            <mat-label>Number of virtual patients</mat-label>
            <input matInput type="number" placeholder="Ex. 12" min="1" formControlName="firstCtrl" required>
            <mat-hint>Minimum 1 virtual patient</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" style="width: 500px;">
            <mat-label>Input ranges</mat-label>
            <textarea matInput formControlName="firstCtrl" required></textarea>
            <mat-hint>[a1_min, a1_max, a2_min, a2_max, a3_min, a3_max, a4_min, a4_max, a5_min, a5_max, s_min, s_max, Q_min, Q_max]</mat-hint>
        </mat-form-field>
      </p>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
</mat-step>
<mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Visualize the results</ng-template>
      <!-- Use it like any other HTML element -->
      <model-viewer style="height: 500px;" src="./assets/philipsMesh.glb" shadow-intensity="1" camera-controls></model-viewer>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
</mat-step>
<mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>