<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
    routerLink=''>
    <mat-icon>apps</mat-icon>
  </button>
  <span>SimCor Virtual Research Environment</span>
  <span class="example-spacer"></span>
</mat-toolbar>