<div fxLayout="row wrap" fxLayoutGap="10px">
    <mat-card class="card" 
        *ngFor="let application of applications" 
        fxFlex="calc(25%-25px)" 
        fxFlex.xs="calc(100%-25px)" 
        routerLink={{application.link}}>
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>{{application.title}}</mat-card-title>
            <mat-card-subtitle>{{application.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
              {{application.description}}
            </p>
        </mat-card-content>
    </mat-card>
</div>