.card {
  max-width: 400px;
  margin: 10px;
  border-radius: 4dp;
  cursor: pointer;
  box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.25), -2px -2px 10px 3px rgba(0,0,0,0.22);
  outline: none;
}

.card:hover {
  transform: scale(0.99, 0.99);
  box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.25), -2px -2px 10px 3px rgba(0,0,0,0.22);
}

.header-image {
  background-image: url("../icons/heart.png");
  background-size: cover;
}